.content {
    margin: 0;
    padding: 0;
    background-color: grey;
}


/* smartphones */
@media (max-width: 768px) {
    .container-form {
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .content {
        min-height: 80vh;
    }
    .footer-row {
        height:20vh;
    }
}

@media (min-width: 768px) {
    .container-form {
        padding-top: 100px;
        padding-bottom: 20px;
    }
    .content {
        min-height: 85vh;
    }
    .footer-row {
        height:15vh;
    }
}

.shadow {
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px; 
    box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 5px;
}

.rounded {
    border-radius: 10px !important;
}
