{% extends "base.html" %}
{% load static %}

{% block page_meta %}
<title>{{ post.title }}</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_content %}

<!-- POST -->
<div class="col-md-6 col-sm-10 col-xs-12 offset-md-3 offset-sm-1 container-post">
    <h2 class="post-title"><b>{{ post.title }}</b></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categoria:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>
        {% endfor %} | &nbsp;
        Autore:
        {{ post.author }}
    </small>
    <div class="blogdetail-body">
        <p>{{ post.body | safe | linebreaks }}</p>
    </div>
    <br><br><br>
</div>


<!-- COMMENT-->
<div class="comments col-md-6 col-sm-10 col-xs-12 offset-md-3 offset-sm-1">

    <!-- creation only if user is authenticated -->
    {% if user.is_authenticated %}
    <h3>Cosa ne pensi ?</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.body }}
            <br>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br><br>
    {% endif %}

    <!-- COMMENTS VIEW-->
    <h3>Comments:</h3>
    <!-- Se ci sono commenti li visualizza-->
    {% if comments %}  
        {% for comment in comments %}
        <p>
            Il {{comment.created_on.date }}&nbsp;
            <b>{{ comment.author }}</b> ha scritto:
        </p>
        <p>{{ comment.body }}</p>
        <hr>
        {% endfor %}

    <!-- atlrimenti visualizza un testo -->
    {% else %}
        <h6>Nessun commento da visualizzare</h6>
        <h6>Puoi essere il primo a commentare!! </h6>

        <!-- ricorda che per commentare bisogna fare il login-->
        {% if user.is_authenticated == False %}
            <br>
            <h6>Fai il login per poter commentare</h6>
        {% endif %}

    {% endif %}
                
</div>
<br><br><br>
{% endblock %}
