{% extends "base.html" %}
{% load static %}

{% block page_meta %} 
<title>My Django - blog</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1><b>BLOG INDEX</b></h1>
    {% for post in posts %}
    <h2><a class="a_titlePost" href="{% url 'blog_detail' post.title %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categoria:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p class="p_anteprimaPost">{{ post.body | slice:":400" }}...</p>
    <hr>
    {% endfor %}
</div>
{% endblock %}