{% extends "base.html" %}
{% load static %}

{% block page_meta %}
<title>{{ category }}</title>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_content %}

<div class="content container-post">
        <h1>{{ category }}</h1>  <!-- TITLE -->

        <!-- CARD DECK-->
        <div class="row  d-flex justify-content-center">
            {% for post in posts %}
    
                <!-- CARD -->
                <a href="{% url 'blog_detail' post.slug %}">
                <div class="card rounded col-md-3 col-sm-5 shadow">
    
                    <!-- IMAGE at top -->
                    <img class="card-img-top rounded image-top-card" src="/media/{{ post.image }}" alt="title_image">
    
                    <!-- FOOTER -->
                    <div class="card-footer rounded">
    
                        <!-- TITLE of post-->
                        <h2 class="card-title"><a class="a_titlePost "
                                href="{% url 'blog_detail' post.slug %}"><b>{{ post.title }}</b></a>
                        </h2>
                        
                        <p class="p_anteprimaPost" style="font-size: 14px;">{{ post.body | safe | slice:":400" }}...</p>
    
                        <!-- INFO post -->
                        <small>
                            {{ post.created_on.date }} |&nbsp;     <!-- create on DATE-->
                            Categoria:&nbsp;                               
                            {% for category in post.categories.all %}        
                            <a class="category-link" href="{% url 'blog_category' category.name %}">
                                {{ category.name }}     <!-- CATEGORY  -->
                            </a>&nbsp;
                            {% endfor %}
                        </small>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
     </div>
{% endblock %}


