{% extends "base.html" %}
{% load static %}

{% block page_meta %}
<title>Eseguire il Login</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_content %}
<div class="content">
    <div class="col-md-8 offset-md-2 container-form">
        <h1>LOGIN RICHIESTO</h1>
        <p style="font-size: 20px; text-align: center; color:white;">
            Per potere visualizzare le informazioni del tuo profilo devi aver effettuato l'accesso.
    </div>
</div>
{% endblock %}
