{% extends "base.html" %}
{% load static %}

{% block page_meta %} 
<title>My Django - Projects</title>
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}

{% block page_content %}
<h1>PROJECTS</h1> <br>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2 text-center">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-warning" id="read-more">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}