.image_orange {
    display:block;
    width:100%; 
    height: 92vh;
    object-fit: cover;
    margin-top :3%;
}

.content {
    margin: 0;
    padding: 0;
}

.card-title {
    font-size: 15px;
    line-height: 1.2;
}

.a_titlePost {
    color: black;
}

.a_titlePost:hover {
    text-decoration: none;
    color: rgb(255, 195, 85);
}

.a_titlePost,
.post-title {
    font-family: 'Montserrat', sans-serif;
}

.post-title {
    color: black;
    font-size: 30px;
    margin-top: 15%;
}

.p_anteprimaPost {
    font-size: 17px;
    line-height: 1.3;
}

.blogdetail-body {
    font-size: 17px;
}

/* Spaziatura verticale */
.blogindex-posts,
.blogdetail-body {
    padding-top: 30px;
}


/* Pagination : numeri che indicano il numero della pagina */
.pagination {
    margin: 30px;
    align-items: center;
}

.pagination-action:hover {
    color: orange;
}

.pagination-action {
    margin: 0 5px;
    display: inline-block;
    padding: 2px;
    color: rgb(255, 211, 129);
    font-size: 30px;
}

.pagination-number {
    background-color: rgb(255, 211, 129);
    padding: 1% 1.5% 1% 1.5%;
    color: white;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}

.pagination-number:hover,
.pagination-current {
    background-color: orange;
    color: white;
}


/* Comments section */
.comments-full-width {
    background-color: rgb(238, 238, 238);
}


/* card post */
.card-img-top {
    width: 100%;
    height: auto;
}
