.a_titlePost {
    font-size: 23px;
}

.a_titlePost:hover {
    text-decoration: none;
    color: rgb(255, 195, 85);
}

.a_titlePost, .post-title {
    font-family: 'Montserrat', sans-serif;
}

.post-title {
    color: black;
    font-size: 30px;
}

.p_anteprimaPost {
    font-size: 18px;
}

.blogdetail-body {
    font-size: 17px;
}

/* Spaziatura verticale */
.blogindex-posts,
.blogdetail-body {
    padding-top: 30px;
}


/* Pagination : numeri che indicano il numero della pagina */
.pagination {
    margin: 30px;
    align-items: center;
}

.pagination-action:hover {
    color: orange;
}

.pagination-action {
    margin: 0 5px;
    display: inline-block;
    padding: 2px;
    color: rgb(255, 211, 129);
    font-size: 30px;
}

.pagination-number {
    background-color: rgb(255, 211, 129);
    padding: 1% 1.5% 1% 1.5%;
    color: white;
    border-radius: 5px;
    margin: 0 10px 0 10px;
}

.pagination-number:hover,
.pagination-current {
    background-color: orange;
    color: white;
}


/* Comments section */
.comments-full-width {
    background-color: rgb(238, 238, 238);
}