{% extends "base.html" %}
{% load static %}

{% block page_meta %}
<title>
</title>
{% endblock %}

{% block page_content %}
<br><br><br><br>
<div class="col-md-8 offset-md-2">
    <h1>Istruzioni per il recupero della password inviate</h1>
    <br><br>

   <p>Abbiamo inviato istruzioni per impostare la password all'indirizzo email che hai indicato. Dovresti riceverle a breve a patto che l'indirizzo che hai inserito sia valido.  
        Se non ricevi un messaggio email, accertati di aver inserito l'indirizzo con cui ti sei registrato, e controlla la cartella dello spam.
    </p>
</div>
{% endblock %}