{% extends "base.html" %}
{% load static %}

{% block page_meta %}
<title>Reimposta password</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_content %}
<div class="content">
    <div class="col-md-8 offset-md-2 container-form">
        <h1>Istruzioni per il recupero della password inviate</h1>
        <br><br>

        <p style="color:white; text-align:justify;">Abbiamo inviato istruzioni per impostare la password all'indirizzo email che hai indicato. Dovresti riceverle
            a breve a patto che l'indirizzo che hai inserito sia valido.
            Se non ricevi un messaggio email, accertati di aver inserito l'indirizzo con cui ti sei registrato, e
            controlla la cartella dello spam.
        </p>
    </div>
</div>
{% endblock %}
