{% extends "base.html" %}
{% load static %}

{% block page_meta %}
<title>Reset Password Completato</title>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_content %}
<div class="content">
    <div class="col-md-8 offset-md-2 container-form">
        <h1>Password Reimpostata</h1>
        <br><br>
    
        <p style="color:white; text-align: center;">La tua password è stata impostata. Ora puoi effettuare l'accesso.</p>

        <p style="font-size:30px; text-align: center;">
            <a href="{% url 'login' %}" style="color:orange;">Login</a>
        </p>
    </div>
</div>
{% endblock %}
